services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3200:3000"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/mobile_food
      - DATA_URL=https://data.sfgov.org/resource/rqzj-sfat.json
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: always
    command: npm run dev
